<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat app</title>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
    <h2>Chat App</h2>
   <div id="chat">
    <li id="user1">anshul joined</li>
    <li id="user2">sachin joined</li>
    <li id="user1">Hi sachin</li>
    <li id="user2">Hi anshul</li>
    <li id="user1">hello sachin .how are you?</li>
    <li id="user2">i am fine  and what about you?</li>
   
   </div> 
   <input type="text" id="message">
   <button id="send">Send message</button>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="chat.js"></script>
</html>
