<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="signin.css">
</head>
<body>
    <h2>Sign Up</h2>
    <form>
        <label for="emailOrPhone">Email or Phone:</label>
        <input type="text" id="emailOrPhone" name="emailOrPhone" required><br>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
    
        <button type="submit" id="submit">Sign In</button>
    </form>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="signin.js"></script>
</html>